<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [errorStateMatcher]="errorStateMatcher"
    autocomplete="off"
    inputmode="numeric"
    maxlength="14"
    placeholder="000.000.000-00"
    (input)="applyCpfMask($event)"
    (blur)="markTouched()"
  >
  @if (showRequiredError) {
    <mat-error>{{ requiredError }}</mat-error>
  } @else if (showInvalidError) {
    <mat-error>{{ invalidError }}</mat-error>
  }
</mat-form-field>
