<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [errorStateMatcher]="errorStateMatcher"
    autocomplete="tel"
    inputmode="numeric"
    maxlength="15"
    placeholder="(00) 00000-0000"
    (input)="applyPhoneMask($event)"
    (blur)="markTouched()"
  >
  @if (showRequiredError) {
    <mat-error>{{ requiredError }}</mat-error>
  } @else if (showInvalidError) {
    <mat-error>{{ invalidError }}</mat-error>
  }
</mat-form-field>
